# .dockerignore

# Git files
.git
.gitignore

# Node dependencies
node_modules

# Next.js build output
.next

# Local environment variables
.env.local

# Test reports
coverage

# Debug logs
npm-debug.log